.register-view, .signin-view {
    text-align: center;

}

.register-view form, .signin-view  form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    height: 400px;
    /* background: white; */
    min-width: 300px;
    width: 30%;
    margin: auto;

}

.register-view form input, button, p , .signin-view form input, button, p  {
    padding: 10px;
    margin: 10px;
}